*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--md-ref-typeface-family-brand, 'Roboto', sans-serif);
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-surface, #1d242b);
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}
